.selector-for-some-widget {
  box-sizing: content-box;
}
.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
}

body {
  background-image: url(Images/fondo2.gif);
}

header {
  background-color: rgba(0, 0, 0, 0.763);
  color: aliceblue;
}

main {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
}

.texto {
  background-color: rgba(110, 110, 110, 0.382);
}
.card {
  display: inline-block; /* muestra las tarjetas como elementos en línea */
  margin-right: 5px; /* establece un margen derecho de 5px para separar las tarjetas */
  background-color: rgba(0, 0, 0, 0);
  color: white;
}
